// Fonts Google
@import
url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

// Definir as Fontes

// Cores
$menuCorFundo: #000000;
$planoFundo: #252525;
$tituloCor: #970303;
$textoCor: #ffffff;

// Cores para Desenvolvimento
$caixaTeste: #41a1be;
$itemTeste: #6a0777;

*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    scrollbar-width: none;
}

@media only screen
{
    header{
        background-color: $menuCorFundo;
        height: 60px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-right: 15px;

        img{
            height: 60px;
            width: 60px;
            margin-top: 20px;
            margin-left: 35px;
        }
        nav{
            background-color: $menuCorFundo;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5%;

            ul{
                display: flex;

                li{
                    background-color: $menuCorFundo;
                    list-style: none;

                    a{
                        background-color: $menuCorFundo;
                        color: $tituloCor;
                        text-decoration: none;
                        text-transform: uppercase;
                        margin: 20px;
                    }
                }
            }
        }
    }

    main{
        background-color: $planoFundo;
        height: 90vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            color: $tituloCor;
            font-size: 16rem;
            text-align: left;
            margin-top: -200px;
            z-index: 1;
            
        }
        
        img{
            height: 80vh;
            width: 50vw;

            position: absolute;
            margin-left: 30%;
            z-index: 0;
        }
    }

    // Seção Benefícios

    #beneficios{
        background-color: $planoFundo;
        height: 90vh;

        h2{
            padding-top: 10px;
            text-align: center;
            color: $textoCor;
        }
    }

    // Seção Planos

    #planos{
        background-color: $caixaTeste;
        height: 90vh;

        h2{
            padding-top: 10px;
            text-align: center;
            color: $textoCor;
        }
    }

    // Seção Clientes

    #planos{
        background-color: $itemTeste;
        height: 90vh;

        h2{
            padding-top: 10px;
            text-align: center;
            color: $textoCor;
        }
    }

    // Seção Planos

    #clientes{
        background-color: $caixaTeste;
        height: 90vh;

        h2{
            padding-top: 10px;
            text-align: center;
            color: $textoCor;
        }
    }

    // Rodapé 

    #empresa{
        background-color: $itemTeste;
        height: 40vh;

        h2{
            padding-top: 10px;
            text-align: center;
            color: $textoCor;
        }
    }

}


