@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family= Josefin +Sans:wght@300,400;500;600;700 & display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  overflow-x: hidden;
}

@media screen {
  header {
    background-color: #000000;
    width: 100vw;
    height: 10vh;
  }
  header img {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 70px;
    height: 70px;
    margin: 20px 40px;
    border-radius: 20px;
  }
  header nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
  }
  header nav ul {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  header nav ul li {
    background-color: rgba(219, 216, 216, 0.7803921569);
    padding: 3px 10px;
    border-radius: 20% 0;
  }
  header nav ul li a {
    color: #db0505;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  main {
    background-color: #1f1f1f;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  main .container {
    width: 100vw;
    display: flex;
  }
  main .container .info {
    width: 100%;
    height: 85%;
    text-justify: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: auto;
    position: absolute;
    z-index: 1;
  }
  main .container .info h1 {
    color: #db0505;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 14rem;
    margin-left: 50px;
  }
  main .container .info h2 {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 5rem;
    margin-left: 80px;
  }
  main .container .info p {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    margin-left: 110px;
    text-justify: auto;
  }
  main .container .imgHome {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
  }
  main .container .imgHome img {
    height: 90%;
    width: 55%;
    margin: 0 5px;
    filter: brightness(85%);
  }
  #beneficios {
    background-color: #1f1f1f;
    height: 95vh;
  }
  #beneficios h2 {
    color: #db0505;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #beneficios .icons {
    height: 90%;
    display: flex;
  }
  #beneficios .icons .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 5px;
  }
  #beneficios .icons .info img {
    background-color: #ffffff;
    width: 60px;
    border-radius: 80%;
    margin: 20px 0;
  }
  #beneficios .icons .info h3, #beneficios .icons .info h4, #beneficios .icons .info h5, #beneficios .icons .info h6 {
    color: #db0505;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 2px 10px;
    margin-bottom: 5px;
  }
  #beneficios .icons .info p {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    height: 60%;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-justify: auto;
    padding: 0 30px;
  }
  #planos {
    background-color: #1f1f1f;
    height: 95vh;
  }
  #planos h2 {
    color: #db0505;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #planos .info {
    display: flex;
    flex-direction: row;
  }
  #planos .info ul {
    width: 100%;
    display: flex;
    margin-top: 20px;
  }
  #planos .info ul li {
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    width: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: center;
  }
  #planos .container {
    display: flex;
  }
  #planos .container .detalhes {
    width: 100%;
  }
  #planos .container .detalhes ul {
    background-color: #6a0777;
    align-content: center;
  }
  #planos .container .detalhes ul li {
    background-color: #41a1be;
  }
  #planos .container .detalhes ul li img {
    background-color: #ffffff;
    width: 30px;
    border-radius: 80%;
  }
  #planos .container .detalhes ul li p {
    color: #ffffff;
    position: relative;
  }
  #clientes {
    background-color: #6a0777;
    height: 95vh;
  }
  #clientes h2 {
    color: #db0505;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #clientes .clientes {
    display: flex;
  }
  #clientes .clientes img {
    background-color: #ffffff;
    width: 200px;
    margin: 20px 0;
  }
  #empresa {
    background-color: #41a1be;
    height: 50vh;
  }
  #empresa h2 {
    color: #db0505;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
  header img {
    width: 0;
    height: 0;
    padding: 0;
  }
  header nav ul {
    width: 100vw;
  }
  header nav ul li a {
    font-size: 1.1rem;
  }
  main {
    background-color: #1f1f1f;
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  main img {
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100vw;
    margin: 10px 0px;
  }
  main h1 {
    font-size: 5rem;
    margin-top: 25vh;
  }
}
/* Estilos para tablets */
/* Estilos para desktops *//*# sourceMappingURL=style.css.map */